PySide6[webengine]>=6.7.1
ttkbootstrap>=1.10.1
PyAutoGUI>=0.9.54
pyperclip>=1.9.0
pywin32>=306
requests>=2.32.3
pygame>=2.6.0
thefuzz>=0.20.0
python-Levenshtein>=0.23.0
websockets>=12.0
Flask>=3.0.0
Flask-SSLify>=0.1.5
SQLAlchemy>=2.0.25
python-dotenv>=1.0.0
cryptography>=41.0.7
pillow>=10.2.0
pyinstaller>=6.3.0
pytest>=8.0.0
black>=24.1.1
flake8>=7.0.0
python-json-logger>=2.0.7
aiohttp>=3.9.3
beautifulsoup4>=4.12.3
zhipuai>=1.0.7
tqdm>=4.66.1